<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mybestapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBestApp">
        <activity
            android:name=".FavoActivity"
            android:exported="false"
            android:label="@string/title_activity_favo"
            android:theme="@style/Theme.MyBestApp.NoActionBar" />
        <activity
            android:name=".FavoAdapter"
            android:exported="false"
            android:label="@string/title_activity_favo_adapter"
            android:theme="@style/Theme.MyBestApp.NoActionBar" />
        <activity
            android:name=".FaouriteActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity4"
            android:exported="false"
            android:label="@string/title_activity_main4"
            android:theme="@style/Theme.MyBestApp.NoActionBar" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.MyBestApp.NoActionBar" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>